table,th,td{
    border: 1px solid black;
    
    padding: 20px;  
    text-align: center;
    font-size: 20px;
    margin-left: 250px;
    margin-bottom: 100px;
    border-radius: 50px;

}
table{
    width:50px;

}
th{
    background-color: yellow;
}
tr:nth-child(even){
    background-color: aqua;
}
tr:nth-child(odd){
    background-color: blue;
}
td:hover{
    background-color: blueviolet;
    cursor:pointer;
}