<div class="input-group" style="margin: 0 0 15px 450px;">
    <div class="input-group-prepend">
        <span class="input-group-text">Search</span>
        
    </div>
    <input (input)="getEnt($event)" type="search" name="search" id="search" style="width: 500px; height: 50px;">
</div>

<div class="col-md-4 float-left mt-6 mb-7 card card-body "  *ngFor='let new of entr'>
    <a href="{{new.url}}"><img src="{{new.urlToImage}}" alt="" style="height: 400px;"></a>
    <h1 style="height: 200px;">{{new.title}}</h1>
  </div>