<div class="col-md-4 offset-4 mt-4 mb-4 card card-body">
<form action="" [formGroup]="form" (ngSubmit)=loginData(form)>
    <h1 class="text-center text-while bg-warning">Reactive Form</h1>

<div class="form-group">
    <input type="email" name="email" id="email" class="form-control" placeholder="Enter the Email..."  formControlName = "email">

    <div *ngIf="email.touched && email.invalid">
        <p *ngIf= "email.errors.required" class="text-danger">*This field Is required</p>
        <p *ngIf= "email.errors.unique" class="text-danger">*email Already Existed</p>
    </div>
</div>

<div class="form-group">
<input type="password" name="password" id="password" class="form-control" placeholder="Enter Passwod" formControlName = "password">
<div *ngIf="password.touched && password.invalid">
        <p *ngIf= "password.errors.required" class="text-danger">*This field Is required</p>
        <p *ngIf= "password.errors.unique" class = "text-danger">*This field Is required</p>
        
    </div>
</div>

<!-- <div class="form-gorup">
    <button type="submit" class="btn btn-outline-success float-right">Login</button>
</div> -->
<div class="form-group">
<button type="submit" class="btn btn-outline-success float-right" [disabled] = "form.invalid">Login</button>

</div>
</form>

</div>