<nav class="navbar navbar-expand-lg navbar-dark bg-info">
  <a class="navbar-brand" href="#"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">

      <li class="nav-item active">
        <a class="nav-link" routerLink="/home">ReddySekhar</a>
      </li>
      <li class="nav-item active">
          <a class="nav-link" routerLink="/countrie">Countries</a>
        </li>
      

        <li class="nav-item active">
          <a class="nav-link" routerLink="/cat">Catageries</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/sus">Source</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/mitha">Search</a>
        </li>

          
          <li class="nav-item active">
            <a class="nav-link" routerLink="/react">Reactive</a>
          </li>

          <li class="nav-item active">
              <a class="nav-link" routerLink="/temp">Template</a>
            </li>

            <li class="nav-item active">
              <a class="nav-link" routerLink="/flow">Reddy</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" routerLink="/comment">Comment</a>
              </li>
      </ul>
  </div>

</nav>