<select name="" id="" style="width:400px; height: 40px; margin: 0 0 10px 450px;" (change)="getEnt($event)">
  <option value="in">India</option>
 <option value="us" >United states</option>
  <option value="ae">dubai</option>/option>
<option value="ru">Russia</option>
</select><br><br>
<div class="col-md-4 float-left mt-6 mb-7 card card-body "  *ngFor='let new of entr'>
  <a href="{{new.url}}"><img src="{{new.urlToImage}}" alt="" style="height: 400px;"></a>
  <h1 style="height: 200px;">{{new.title}}</h1>
</div>